//Container
@media (min-width: 320px) {
  .container {
    max-width: 425px
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px
  }
}

@media (max-width: 768px) {
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #43A5D2;
  }
  // Chart
  ul.chart-color-labels {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1920px
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px
  }
}

//Columns
@media (max-width: 320px) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span $i;
    }
  }
}

@media (max-width: 425px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      grid-column: span $i;
    }
  }
}


@media (min-width: 769px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      grid-column: span $i;
    }
  }
}


@media(min-width: 1024px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      grid-column: span $i;
    }
  }
}


@media (min-width: 1280px) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      grid-column: span $i;
    }
  }
}


@media (min-width: 1920px) {
  @for $i from 1 through 12 {
    .col-max-#{$i} {
      grid-column: span $i;
    }
  }
}
